@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

    <div class="box">
        <p class="title is-danger">
            You do not have access to this resource.
        </p>
    </div>
