@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

    <div class="box">
        <p class="subtitle has-text-grey">
            Thank you for confirming your email.
        </p>
    </div>