@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}


<div class="box">
    <p class="subtitle has-text-grey">
        Please check your email to reset your password.
    </p>
</div>