@page
@model ForgotPasswordModel
@using SportsFinder.ViewModels
@{
    ViewData["Title"] = "Forgot your password?";
}

<h3 class="title has-text-grey">@ViewData["Title"]</h3>
<p class="subtitle has-text-grey">Please enter your email .</p>
<div class="box">

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" asp-for="Input.Email"></label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" asp-for="Input.Email" />

                    </div>
                    <span asp-validation-for="Input.Email" class="help is-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="button is-primary">Submit</button>
    </form>
</div>
