@*@model IEnumerable<SportsFinder.Data.Models.Event>


@{
    ViewData["Title"] = "Create";
}

<h1>Event Details</h1>


<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" asp-for="EventDate">Date of Event(YYYY-MM-DD HH:MI)</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" asp-for="EventDate">
            </div>
            <span asp-validation-for="EventDate" class="help is-danger"></span>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Players Needed</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" asp-for="PlayersNeeded" type="number" placeholder="" autofocus="">
            </div>
            <span asp-validation-for="PlayersNeeded" class="help is-danger"></span>
        </div>
    </div>
</div>



<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Sport</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control select">
                <select class="select" asp-for="SportId" asp-items="@(new SelectList(Model.Sports,"SportId","SportName",""))" type="text" placeholder="" autofocus="">
                </select>
            </div>
            <span asp-validation-for="SportId" class="help is-danger"></span>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Preferred Gender</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control select">
                <select class="select" asp-for="GenderId" asp-items="@(new SelectList(Model.PreferredGenders,"PreferredGenderId","GenderType",""))" type="text" placeholder="" autofocus="">
                </select>
            </div>
            <span asp-validation-for="GenderId" class="help is-danger"></span>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Skill Level</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control select">
                <select class="select" asp-for="SkillLevelId" asp-items="@(new SelectList(Model.SkillLevels,"SkillLevelId","SkillLevelName",""))" type="text" placeholder="" autofocus="">
                </select>
            </div>
            <span asp-validation-for="SkillLevelId" class="help is-danger"></span>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Title</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" asp-for="Title" type="text" placeholder="" autofocus="">
            </div>
            <span asp-validation-for="Title" class="help is-danger"></span>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Description</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" asp-for="Description" type="text" placeholder="" autofocus="">
            </div>
            <span asp-validation-for="Description" class="help is-danger"></span>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label">Location</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <input class="input" asp-for="Location" type="text" placeholder="" autofocus="">
            </div>
            <span asp-validation-for="Location" class="help is-danger"></span>
        </div>
    </div>
</div>
<div class="control">
    <button class="button is-primary" type="submit">Create</button>
</div>*@
