@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="notification  is-@statusMessageClass alert-dismissible" role="alert">
        <button class="delete"></button>
        @Model
    </div>
}