@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container">
    <partial name="_StatusMessage" for="StatusMessage" />
    <p class="title is-4">@ViewData["Title"]</p>
    <form id="change-password-form" method="post">
        <div asp-validation-summary="All" class="has-text-danger"></div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" asp-for="Input.OldPassword"></label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" asp-for="Input.OldPassword" />

                    </div>
                    <span asp-validation-for="Input.OldPassword" class="help is-danger"></span>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" asp-for="Input.NewPassword"></label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" asp-for="Input.NewPassword" />

                    </div>
                    <span asp-validation-for="Input.NewPassword" class="help is-danger"></span>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label" asp-for="Input.ConfirmPassword"></label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" asp-for="Input.ConfirmPassword" />

                    </div>
                    <span asp-validation-for="Input.ConfirmPassword" class="help is-danger"></span>
                </div>
            </div>
        </div>
        <button type="submit" class="button is-primary">Update password</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}