@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Delete Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<div class="container">
    <p class="title is-4">@ViewData["Title"]</p>
    <div class="notification is-warning" role="alert">
        <p>
            <i class="fas fa-exclamation-triangle"></i>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
    </div>
    <form id="delete-user" method="post" class="form-group">
        <div asp-validation-summary="All" class="has-text-danger"></div>
        @if (Model.RequirePassword)
        {
            <div class="field">
                <div class="control">
                    <input class="input is-large" asp-for="Input.Password" type="password"  autofocus="">
                </div>
                <span asp-validation-for="Input.Password" class="help is-danger"></span>
            </div>
        }

        <button class="button is-danger" type="submit">Delete data and close my account</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

