@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Download Your Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="container">

    <p class="title is-4">@ViewData["Title"]</p>

    <!-- TODO -->
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</div>  